/* 
background-color: #f8f9fa

text: #212529

button: #0e06f3

accent/section: #acc8e7
*/

body {
    margin: 0;
    background-color: #f8f9fa;
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-size: 1rem;
}


/* ###### header & nav styling ########## */

header {
    padding: 2.5rem 3rem;
    background-color: #acc8e7;
}

.logo {
    width: 10rem;
    height: auto;
}

.navbar {
    padding: 1.5rem 3rem 1rem 3rem;
    background-color: #acc8e7;
}

.buttonDiv {
    justify-content: flex-end;
}

.loginLinks {
    gap: 2rem;
}

.nav-link {
    color: #212529;
}

.nav-link:hover {
    color: #0e06f3;
}

.loginLink {
    border: 1px solid #0e06f3;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    max-width: max-content;
}

.loginLink:hover {
    font-weight: bold;
}

.freeTrialLink {
    background-color: #0e06f3;
    color: white;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    max-width: max-content;
}

.freeTrialLink:hover {
    background-color: #0e06f3;
    color: white;
    font-weight: bold;
}

/* ###### hero section styling ########## */

.heroSection {
    background-color: #acc8e7;
    padding: 4rem 3rem 2rem 3rem;
    display: flex;
}

.heroLeftDiv,
.heroRightDiv {
    width: 50%;
}

.heroLeftDiv {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    padding: 0 2rem 0 2rem;
}

.img-fluid {
    max-width: 40rem;
    height: auto;
}

.display-4 {
    font-weight: bold;
}

.heroLeftDiv p {
    line-height: 1.5;
    letter-spacing: 1px;
    font-size: 1.2rem;
}

.heroButtonDiv {
    display: flex;
    gap: 2rem;
}

.blueTrialButton {
    background-color: #0e06f3;
    color: white;
    padding: 0.5rem 1.5rem;
    border-radius: 0.5rem;
    border: none;
}

.viewDemoButton {
    background-color: #acc8e7;
    color: #212529;
    padding: 0.5rem 1.5rem;
    border-radius: 0.5rem;
    border: 1px solid #0e06f3;
}

.blueTrialButton:hover,
.viewDemoButton:hover {
    font-weight: bold;
}

/* ###### key features section styling ########## */

.keyFeatureSection,
.reviewSection,
.faqSection {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 3rem 3rem;
}

.topFeatureDiv,
.howItWorksTopDiv,
.reviewTopDiv,
.pricingTopDiv,
.faqTopDiv {
    display: flex;
    justify-content: center;
}

.bottomFeatureDiv {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.featureIcon {
    width: 3rem;
    height: auto;
}

.featureIconDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.iconDiv {
    background-color: #cbd9ea;
    display: flex;
    justify-content: center;
    border-radius: 0.5rem;
    max-width: max-content;
    padding: 1rem;
}


/* ###### how it works section styling ########## */

.howItWorksSection,
.pricingPlanSection {
    background-color: #acc8e7;
    padding: 3rem 3rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.howItWorksBottomDiv,
.reviewBottomDiv,
.pricingBottomDiv {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 4rem;
}

.howItWorksBottomDiv>.card {
    background-color: #cbd9ea;
    border-radius: 0.5rem;
    border: none;
    width: 20rem;
}

.step {
    display: flex;
    gap: 0.5rem;
    padding: 0.8rem 1rem 0 1rem;
}

.stepNumberDIv {
    width: 1.7rem;
    height: 1.7rem;
    border-radius: 50%;
    background-color: #0e06f3;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.stepIconDiv {
    background-color: #f8f9fa;
    height: 100%;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    display: flex;
    justify-content: center;
}

.stepIconDiv img {
    padding: 1rem 0;
    width: 5rem;
    height: auto;
}

/* ###### what our users say section styling ########## */

.reviewBottomDiv>.card {
    background-color: #cbd9ea;
    border-radius: 0.5rem;
    padding: 1rem 2rem;
    border: none;
    width: 30rem;
}

.avatarDiv {
    display: flex;
    gap: 0.5rem;
}

.avatarDiv img {
    width: 4rem;
    height: auto;
}

.avatarNameDiv {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    font-size: 0.8rem;
}


/* ###### pricing plan section styling ########## */

.pricingBottomDiv>.card {
    /* padding: 1rem 2rem; */
    border: none;
    border-radius: 0.5rem;
    background-color: #f8f9fa;
    width: 22rem;
}

.card-header {
    background-color: #f8f9fa;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
    padding-bottom: 1rem;
    padding: 1rem 2rem;
}

.blueHeaderDiv {
    background-color: #0e06f3;
    color: white;
}

#popular {
    background-color: #f8f9fa;
    color: #212529;
    font-size: 0.8rem;
    padding: 0.3rem 0.5rem;
    border-radius: 0.3rem;
}

#cost {
    font-size: 1rem;
}

.benefitsDiv {
    padding: 1rem 1rem;
}

.benefitsDiv p {
    border-bottom: 1px dashed #cbd9ea;
    padding: 0.5rem 0;
}

.benefitsDiv img {
    width: 1.5rem;
}

.pricingButtonDiv {
    display: flex;
    justify-content: center;
    padding-bottom: 1rem;
}

.pricingButtonDiv button {
    padding: 0.5rem 1.5rem;
    border-radius: 0.5rem;
    background-color: transparent;
    border: 1px solid #0e06f3;
}

.pricingButtonDiv button:hover {
    font-weight: bold;
}

#bluePriceButton {
    background-color: #0e06f3;
    color: white;
    border: none;
}


/* ###### FAQ section styling ########## */

.faqBottomDiv {
    padding: 0 10rem;
}

.accordion-body,
.accordion-button {
    background-color: #cbd9ea;
    border-bottom: 1px solid #212529;
    line-height: 1.5;
    letter-spacing: 1px;
}

.accordion-body:not(.collapsed) {
    background-color: #CFE2FF;
}

.accordion-button:not(.collapsed) {
    border-bottom: 1px dashed #212529;
}